.x-table {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; 
	text-align: center;
	
	}
	.x-table tfoot th {
		text-align: center;
		
		}

		table.x-table tr > td {
    vertical-align: middle;
}
	.x-table--big {
		max-width: 800px;
	
		}
		.x-table--big td {
			 padding: 8px  !important; 
			
			}
		.x-table--big th { 
			font-size: 15px;
			
			padding: 18px 8 6px !important;
			}
   
 .maintable {
    border-collapse: separate;
    border-spacing: 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    max-width: 460px;
    width: 100%;
    table-layout: fixed;
	}
	.maintable td {
		width: 50%;
		}

.mainimg {
	background: #5ec29d;
    border: 0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 50px;
    margin: 10px;
	text-decoration: none;
	display: block;
	color: white;
   }
   .mainimg:hover {
	    color: white;
		background: #ff4748;
		}
   .mainimg img {
		width: 100%;
		max-width: 160px;
		}
	@media screen and (max-width: 640px) {
		.mainimg {
			font-size: 4vw;
		}
	}